/* Main Color */
/* Kobe theme Color */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #1d2129;
  line-height: 1.93rem; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(29, 39, 51, 0.2); }
  .header__profile {
    display: flex; }
  .header__user-img {
    width: 2.7rem;
    height: 2.7rem;
    object-fit: cover;
    border-radius: 50%;
    align-self: center; }
  .header__list {
    width: 20rem;
    display: flex;
    align-items: center;
    list-style: none; }
  .header__items {
    color: #3D0C69;
    width: 4rem;
    margin: .6rem 1.6rem; }
  .header__icon {
    height: 2rem;
    width: 2rem;
    margin: .5rem 1.4rem;
    fill: #3D0C69;
    transform: translateY(2px); }

.home-shop {
  display: grid;
  grid-template-rows: 6rem repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center; }
  .home-shop__header {
    align-self: center; }

.sidebar {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column; }
  .sidebar__header {
    display: flex;
    background-color: rgba(29, 39, 51, 0.2); }
  .sidebar__title {
    font-size: 2.3rem;
    font-family: "Creepster", cursive;
    flex-grow: 1;
    align-self: center;
    transform: translateY(2px); }
  .sidebar__btn {
    margin: 1.2rem;
    margin-right: .6rem;
    margin-bottom: .8rem;
    display: flex;
    flex-direction: column; }
    .sidebar__btn--1, .sidebar__btn--2, .sidebar__btn--3 {
      width: 2rem;
      height: .3rem;
      margin: .2rem;
      background-color: black; }
  .sidebar__nav {
    flex-grow: 1;
    display: flex;
    justify-content: center; }
  .sidebar__list {
    margin-top: 8rem;
    width: 80%;
    list-style-type: none; }
  .sidebar__items {
    display: flex;
    justify-content: start;
    align-items: center; }
    .sidebar__items:not(:last-child) {
      margin-bottom: 3rem; }
  .sidebar__link {
    color: #3D0C69;
    text-decoration: none;
    transform: translateY(2px); }
  .sidebar__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 2rem;
    margin-left: 2rem; }

.container {
  display: grid;
  grid-template-rows: 4.1rem calc(100vh - 4.1rem);
  grid-template-columns: [right-side-start] 20rem [right-side-end full-start] minmax(6rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end left-side-start] 20rem [left-side-end];
  background-image: url("../img/bg--kobe.png");
  background-repeat: no-repeat;
  background-position-x: 8rem;
  background-size: 40%; }

.header {
  grid-row: 1 / 2;
  grid-column: full-start / -1; }

.home-shop {
  grid-column: left-side-start / left-start-end;
  grid-row: 2 / 3;
  background-color: grey; }
