////////////////////////////////
///////// COLOR

/* Main Color */
$color-body-text:rgb(29, 33, 41);
$color-nav: #1d2733;
$color-white: #FFFFFF;

/* Kobe theme Color */

$color-kobe-primary: #3D0C69;



////// FONT

$default-font-size: 1.4rem;

$font-primary:'Roboto', sans-serif;
$font-secondary : 'Creepster', cursive;







