.header {
    position: fixed;
    width: 100%;
    height: 4.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba($color-nav, .20);

    &__sidebar {
        display: flex;

        &__title {
            font-size: 2.3rem;
            font-family: $font-secondary;
            align-self: center;
            text-align: start;
            transform: translateX(2rem);
        }

        &__btn {
            //background-color: black;
            align-self: center;
            padding: 1em;
            width: 4.8rem;
            //margin-left: 2rem;
            cursor: pointer;

                &__hamburger,
                &__hamburger::before,
                &__hamburger::after {
                    content: '';
                    display: block;
                    height: 2px;
                    width: 3rem;
                    background-color: $color-nav;
                    border-radius: 3px;
                    transition: .5s; 
                    }
        
                &__hamburger::before {
                        transform: translateY(-6px);
                    }

                &__hamburger::after {
                        transform: translateY(3px);
                    }

                    //FUNCTIONALITY OF THE BUTTON

                 &--active &__hamburger::before {
                        opacity: 0; 
                    }

                &--active &__hamburger{
                        width: 2.5rem;
                        transform: translateY(0px) rotate(45deg);
                    }

                &--active &__hamburger::after {
                        transform: translateY(-1.5px) rotate(-90deg);
                        width: 2.5rem;
                    }
                }
        }




    &__profile {
        display: flex;
    }

    &__user-img {
        width: 2.7rem;
        height: 2.7rem;
        object-fit: cover;
        border-radius: 50%;
        align-self: center;
    }

    &__list {
        width: 20rem;
        display: flex;
        align-items: center;

        list-style: none;
        
    }

    &__items {
        color: $color-kobe-primary;
        width: 4rem;
        margin: .6rem 1.6rem;
        
    }


    &__icon {
        height: 2rem;
        width: 2rem;
        margin: .5rem 1.4rem;
        fill: $color-kobe-primary;
        transform: translateY(2px);
      
    }
}