.home-main-content {
    background-color: $color-white;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 5rem repeat(2, min-content);
    //margin: 6rem;
    height: 40rem;
    width: 40rem;
    box-shadow: $shadow;
    align-self: center;
   
 



    &__text {
        line-height: 1.6rem;
        margin: 0.5rem;
        text-indent: 1rem;
    }

    &__title {
        padding-top: 1rem;
        padding-left: 1rem;
    }

    &__video {
        width: 40rem;
        height: 22.5rem;
    }
}