.home-shop {
    
    display: grid;
    grid-template-rows: 6rem repeat( auto-fill, 20rem );
    grid-auto-rows:  repeat( auto-fill, 20rem);
    grid-gap: 1rem;
    justify-content: center;
    


    

    &__header {
        align-self: center;

    }
}
