.score-board {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1%;
    

    
    &__logo {
        height: 8rem;
        object-fit: cover;

        &--1 {
            order: 1;

            &--small {
                order: 3;
            }
        }

        &--2 {
            order: 9;

            &--small {
                order: 7;
            }
        }

        &--small {
            height: 4rem;
            object-fit: cover;                
        }

    }   

    &__team {

        display: flex;
        flex-direction: column;
        justify-content: center;

        &--1 {
            order: 2;
            transform: translateX(1.8rem);

            & span {
                align-self: flex-end;
            }
            &__score {
                order: 5;
                font-size: 3rem;
                font-weight: 500;
                color: black;
            }
        }

        &--2 {
            order: 8;
            transform: translateX(-1.8rem);
            &__score {
                order: 6;
                font-size: 3rem;
                font-weight: 700;
                color: grey;
            } 
        }           
    }

    &__record {
        font-size: 1rem;
        color: grey;
        }

    &__details {
        order: 5;
        width: 17rem;
        height: 100%;
        //background-color: orangered;
    }

    


}