.container {  
    display: grid;
    grid-template-rows: 4.1rem calc(100vh - 4.1rem) 100vh min-content;
    grid-template-columns: 
    [right-side-start] 20rem [right-side-end 
        full-start] minmax(6rem,1fr) 

        [center-start] repeat(6, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 
        
        minmax(6rem,1fr) [full-end

    left-side-start] 20rem [left-side-end];
  
}



.header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

.home-shop {
    grid-column: left-side-start / left-start-end;
    grid-row: 2 / -1;
}



.home-main-content {
    background-image: radial-gradient(circle,
        rgba(transparent, .5),
        rgba(black, .8) ),
        url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column : right-side-start / left-side-end;
    grid-row: 2 / 3;
}

.home-news {
    //margin-top: 15rem;
    background-image: radial-gradient(circle,
    rgba(transparent, .5),
    rgba(black, .8) ),
    url('../img/test.jpg'); 
    
    grid-row: 4 / 5; 
    grid-column: 1 / -1;
    height: 95vh;
    position :  relative;
    background-position: 0 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}


.home-calendar {
   
    grid-row:  3 / 4;
    grid-column: center-start / center-end;
    background-image: radial-gradient(circle closest-side,
        rgba(transparent, .9),
        rgba(black, .1)),
        url('../img/court.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}


